torch==2.5.0+cu124    	    # PyTorch for deep learning
torchvision==0.20.0+cu124   # Image processing and pretrained models
numpy==1.26.4         	    # Numerical computing
matplotlib==3.10.0  	    # Visualization
seaborn==0.13.2             # Statistical data visualization
Pillow==11.1.0       	    # Image processing (PIL)
albumentations==2.0.4	    # Image augmentation
torchmetrics==1.6.1   	    # Metrics for PyTorch models
scikit-learn==1.6.1   	    # Machine learning utilities

